*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: sans-serif;
}

/* navelements */
.container{
    color: white;
    background: url('pictures/hero-bg.avif');
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-ele{
    text-decoration: none;
    margin: 1.2rem;
    list-style: none;
}
.nav-bar{
    display: flex;
}
.hero{
    display: flex;
    flex-direction: column;
    
}
.tittle{
    
}
.logo>img{
    height: 24px;
}
.nav-bar>ul{
    display: flex;
    flex-direction: row;
    
}
.hero{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.338);
    
    
}
